@import '~antd/dist/antd.css';

body{
  padding-top: 40px;
  padding-left: 20px;
}

.App {
  width: 600px;
  margin: 0 auto;
}

/* .App-query {
  text-align: center;
} */

.App-section {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.App-section Button {
  margin-top: 20px;
}

p {
  font-size: 32px;
}


