@import '~antd/dist/antd.css';

body{
  padding-top: 40px;
  padding-left: 20px;
}

.App-section {
  text-align: center;
}

p {
  font-size: 32px;
}
/* Button{
  margin-top: 20px;
  margin-left: -800px;
} */

/* form{
  margin-bottom: 30px;
  margin-left: 250px;
} */
