.App-header {
  text-align: center;
}

p {
  font-size: 32px;
}

.queryValue,
.inputValue{
  margin-left: 100px;
  margin-bottom: 50px;
}

.textarea1,
.textarea2{
  margin-top: 15px;
  display: block;
}

.vertical {
  vertical-align: middle;
}

